body {
  margin: 0;
  background:
    radial-gradient(rgba(45, 28, 93, 0.92), rgba(45, 28, 93, 0.92)),
    url("/imgs/background.png");
  background-size: cover;
}

.container {
  margin: 0 200px;
}

#gamePage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.numbers-img {
  width: 60%;
}

.game-container {
  position: relative;
  left: -20%;
  width: 50%;
}

#wrongAnswer {
  display: none;
  height: 20%;
  background-color: rgba(170, 2, 2, 0.33);
}

.wrong-answer-img {
  height: 100%;
  width: 30%;
  margin-right: 10px;
}

.wrong-answer-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

.guess-other-number {
  font-size: 26px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 15px;
  color: rgba(255, 255, 255, 1);
}

#higherOrLowerNumber {
  font-weight: 900;
  background-color: rgba(211, 30, 62, 1);
}

h1,
h2,
p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin: 25px 0;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

#numberInput {
  border: none;
  padding: 14px 16px;
  background: rgba(23, 14, 49, 0.72);
  color: rgba(212, 212, 212, 1);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  width: 50%;
}

.input-underline {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgba(222, 222, 222, 1);
  margin-top: 5px;
}

button {
  padding: 16px 8px;
  font-weight: bold;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
  width: 40%;
}

#playAgainBtn {
  width: 20%;
}

#submitBtn:hover,
#playAgainBtn:hover {
  cursor: pointer;
  background: rgba(238, 39, 65, 0.7);
}

#victoryPage {
  display: none;
  text-align: center;
}

#victoryPage p {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

#victoryPage span {
  background-color: rgba(151, 71, 255, 1);
}

@media (max-width: 750px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    margin-top: 10px;
  }
  .guess-other-number {
    font-size: 18px;
  }
  .container {
    margin: 0 20px;
    width: 100%;
  }
  #gamePage {
    flex-direction: column;
    width: 100%;
  }
  .game-container {
    text-align: center;
    left: 0px;
  }
  .numbers-img {
    width: 70%;
  }

  button {
    width: 60%;
  }

  #playAgainBtn {
    width: 80%;
  }

  #victoryPage p {
    font-size: 20px;
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 25px;
    margin-top: 10px;
  }
  .guess-other-number {
    font-size: 20px;
  }
  .container {
    margin: 0 20px;
  }

  button {
    width: 60%;
  }
  #playAgainBtn {
    width: 68%;
  }
  .game-container {
    left: -100px;
  }
}
